body {
    text-align: center;
    background-image: url("https://wallpapers.com/images/hd/underwater-background-oepaymjqd9zy7i7v.jpg");
    font-weight: bolder;
}

.loginPage, .signUp {
    border: 1px solid black;
    margin: 5% 10%;
    padding: 2%;
}

.mb-3 {
    width: 50%;
    display: inline-block;
}

.links {
    text-align: left;
}